body, div, li, td, table, input { font-size:12px; font-family:굴림, gulim, verdana, sans-serif; color:#333; line-height:1.3; }
a:link, a:visited, a:active { font-family:굴림, gulim, verdana, sans-serif; color:#333; text-decoration:none; }
a:hover { font-family:굴림, gulim, verdana, sans-serif; color:#333; text-decoration:underline; }

h1, h2, h3, h4, h5 { font-size:12px; }

#blogTitleText { font-weight:bold; font-size:16px; font-family:굴림, gulim, verdana, sans-serif; }
.p12 { font-size:12px; font-family:굴림, gulim, verdana, sans-serif; }
a.p12:link, a.p12:visited, a.p12:active { font-size:12px; font-family:굴림, gulim, verdana, sans-serif; }
a.p12:hover { font-size:12px; font-family:굴림, gulim, verdana, sans-serif; }

input.box { font-size:12px; font-family:굴림, gulim, verdana, sans-serif; }
textarea.box { font-size:12px; font-family:굴림, gulim, verdana, sans-serif; }
select { font-size:12px; font-family:굴림, gulim, verdana, sans-serif; }

#cContent .webfontSmall, #cContent a.webfontSmall:link, #cContent a.webfontSmall:visited, #cContent a.webfontSmall:hover, #cContent a.webfontSmall:active { font-size: 11px; font-family: 굴림, gulim, verdana, sans-serif; }