html, body {width:100%;height:100%;margin:0;padding:0;background-color:#000;overflow:hidden;}
body { position:absolute; }

.flash_container {position:relative;overflow:hidden;width:100%;height:100%;}
#videoViewer {position:absolute;left:0;top:0;bottom:0;right:0;}
.tvpot-play-mobile .tvpot-play-button { width: 63px;height: 66px;background: url("http://m1.daumcdn.net/icon/mobile/m480/tvpot/2011/btn_tvpot_play2.png") no-repeat; }

.geoblocked_player{ width:100%;height:100%;overflow:hidden;position:relative; }
.geoblocked_player .play_icon{ position: absolute;width:77px;height:81px;top:50%;left:50%;margin-left:-38px;margin-top:-40px;background:url(http://i1.daumcdn.net/icon/see/2010_tvpot/playWI.png) 0 0 no-repeat;text-indent:-9999px;overflow:hidden }

.mobile_player .video_controller{ display:block;width:100%;height:100%;overflow:hidden;position:absolute;top:0;left:0; }
.mobile_player .play_icon { width: 63px;height: 66px;background: url("http://m1.daumcdn.net/icon/mobile/m480/tvpot/2011/btn_tvpot_play2.png") no-repeat;position: absolute; left: 50%; top: 50%;margin-left:-31px;margin-top:-33px;overflow:hidden;text-indent:-9999px; }
.mobile_player .video_element{ position:absolute;left:-100px;top:-100px; }

.inline_player a { display: block;position: relative;text-align: center; }
.inline_player video{ position: absolute;top: -1000px;left: -1000px; }
.inline_player .fullscreenblocker{ display:inline-block;bottom: -50px;left: 50px;width: 100%;height: 110px;position: absolute; }
.inline_player .ico_play_big { background: url(http://m1.daumcdn.net/icon/mobile/m320/tvpot/2012/icon_tvpot3.png) no-repeat 0 0;display: block;position: absolute;margin: 50%;bottom: 0px;overflow: hidden;width: 22px;height: 25px;font-size: 0;line-height: 0;background-position: -50px -60px;text-indent: -9999px; }

.ad_player a { display: block;position: relative;text-align: center; }
.ad_player video{ position: absolute;top: -1000px;left: -1000px; }
.ad_player .fullscreenblocker{ display:inline-block;bottom: -50px;left: 50px;width: 100%;height: 110px;position: absolute; }
.ad_player .ico_play_big { background: url(http://m1.daumcdn.net/icon/mobile/m320/tvpot/2012/icon_tvpot3.png) no-repeat 0 0;display: block;position: absolute;margin: 50%;bottom: 0px;overflow: hidden;width: 22px;height: 25px;font-size: 0;line-height: 0;background-position: -50px -60px;text-indent: -9999px; }
.ad_player .play_icon { width: 63px;height: 66px;background: url("http://m1.daumcdn.net/icon/mobile/m480/tvpot/2011/btn_tvpot_play2.png") no-repeat;position: absolute; left: 50%; top: 50%;margin-left:-31px;margin-top:-33px;overflow:hidden;text-indent:-9999px; }

.ad_player .indicator{ width: 100%;height: 100%;position:absolute;top:0;left:0; }
.ad_player .indicator canvas{ width:100px;height:100px;position:absolute;top:50%;left:50%;margin-top:-50px;margin-left:-50px; }
    
#adWrap{ position: absolute;top: -28px;left: 0;width: 100%;height: 28px;background:url(http://i1.tvpot.daumcdn.net/svc/image/U03/tvpot_admin/admin/20130410/20130410_165633_1523831.png) repeat-x;-moz-background-size:100% 10    0%;-o-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size:100% 100%;transition:top 2s;-webkit-transition: top 2s; }
#adWrap a{ display:block;margin-left: 5px;margin-right: 8px;font-size: 12px;font-weight:bold;color:#d9e1f9;text-decoration:none;height: 28px;background: url(http://i1.tvpot.daumcdn.net/svc/image/U03/tvpot_admin/admin/20130410/20130410_165709_71474079.png) no-repeat;background-position: right 11px;-webkit-background-size: 5px 8px;background-size: 5px 8px;text-align: left; }
#adWrap a span{ display: inline-block;margin-top: 8px; }
#adWrap .logo{ width: 25px;height: 16px;margin: 3px 7px 0 0;padding: 2px 0 0 1px;border-radius: 5px;background-color: #383e50;font-size: 11px;font-weight: bold;font-family: arial;text-align: center; }
#adWrap .emptytext{ float: right;margin-right: 8px; }
#adWrap #adName{ margin-right: 10px; }

.error_player {position:absolute;top:0;left:0;width:100%;height:100%;background-color:#f0f0f0;display:block;text-decoration:none;}
.box_empty {position:absolute;top:50%;margin-top:-90px;width:100%;height:180px;padding-top:111px;background:#f0f0f0 url(http://m1.daumcdn.net/icon/mobile/m320/tvpot/ico_empty.png) no-repeat 50% 46px}
.box_empty .desc_notice {font-size:13px;color:#a0a0a0;text-align:center}

@media only screen and (-webkit-min-device-pixel-ratio :1.5),
only screen and (min-device-pixel-ratio :1.5) {
	.box_empty {background-image:url(http://m1.daumcdn.net/icon/mobile/m480/tvpot/ico_empty.png);-webkit-background-size:42px 52px;background-size:42px 52px}
}
@media only screen and (-webkit-min-device-pixel-ratio :2),
only screen and (min-device-pixel-ratio :2) {
	.box_empty {background-image:url(http://m1.daumcdn.net/icon/mobile/m640/tvpot/ico_empty.png);-webkit-background-size:42px 52px;background-size:42px 52px}
}