BODY{
	color:#666;
	font-size:14px;
	font-family:AppleGothic,"Malgun Gothic",나눔고딕,돋움, Dotum,굴림,Helvetica,verdana,tahoma;
	background-image: url(../images/christmas.jpg); background-repeat: repeat-xy;
	margin:0px;
}
ul,ol,li,dl {list-style:none;}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
a {color:inherit;}
a, a:link { color: #333;
text-decoration:none;
}
a:visited {color: #333;}
a:hover, a:active {
	color: #333;
	text-decoration:none;
}
section, nav,article, aside, hgroup,header,footer {display:block}
#banner {
	position:absolute;
	margin:0px 0 0 0px;
	top:1px;
	left:0px;
	width:835px;
	height:214px;
	BACKGROUND-COLOR: white;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,.1);
}
#banner_btit{
	color:#F7C4C5;
	font-weight:bold;
	height:32px;
	margin:0px;
	/*margin:10px 0 0 20px;*/
	padding-left:20px;
	/*background-color: rgb(210,223,238); */
	background: #eae062; /* for non-css3 browsers */

	line-height : 32px;
	vertical-align:middle;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F06A58', endColorstr='#D72024'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F06A58), to(#D72024)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F06A58,  #D72024); /* for firefox 3.6+ */
	background: -ms-linear-gradient(top,  #F06A58,  #D72024); /* for IE10 */

	display:block;

}
#banner_pics {
	position:absolute;
	margin:0px 0 0 0px;
	top:32px;
	left:0px;
	FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY: AppleGothic,"Malgun Gothic",나눔고딕,돋움, Dotum,굴림,Helvetica,verdana,tahoma;
	width:835px;
	height:182px;
}


#preach_main { clear:both;
position:relative;
top:20px;
left:0px;
float:left; width: 370px;
overflow:hidden;		/* 글자가 셀을 넘어 갈때 안보이게 하는 옵션 */
white-space:nowrap;
height:320px;
margin:0px 0 0 20px;
border:1px solid #dcdcdc;
valign:middle;
BACKGROUND-COLOR: white;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,.1);
}

#service_time {
position:relative;
top:0px;
left:20px;
float:left; width: 370px;
overflow:hidden;	/* 글자가 셀을 넘어 갈때 안보이게 하는 옵션 */
white-space:nowrap;
height:320px;
margin:20px 0 0 20px;
border:1px solid #dcdcdc;
BACKGROUND-COLOR: white;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,.1);
}

h2.service_time_btit{
	color:#CCCCCC;
	font-weight:bold;
	height:32px;
	margin:0px;
	/*margin:10px 0 0 20px;*/
	padding-left:20px;
	/*background-color: rgb(210,223,238); */
	background: #eae062; /* for non-css3 browsers */

	line-height : 32px;
	vertical-align:middle;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A48183', endColorstr='#614346'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#A48183), to(#614346)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #A48183,  #614346); /* for firefox 3.6+ */
	background: -ms-linear-gradient(top,  #A48183,  #614346); /* for IE10 */

	display:block;

}
.table{
	width:100%;
	border-collapse: collapse;
}
.table th{
	text-align:center;
	color:#493135;
	border:1px solid #dcdcdc;
	BACKGROUND-COLOR: #EEEEEE;
}
.table td{
	text-align:left;
	padding-left:3px;
	border:1px solid #dcdcdc;
}

#news_main {
position:relative;
top:165px;
left:0px;
float:left; width: 370px;
overflow:hidden;	/* 글자가 셀을 넘어 갈때 안보이게 하는 옵션 */
white-space:nowrap;
height:320px;
margin:20px 0 0 20px;
border:1px solid #dcdcdc;
BACKGROUND-COLOR: white;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,.1);
}

#bulletin_main {
position:relative;
top:165px;
left:20px;
float:left; width: 370px;
overflow:hidden;	/* 글자가 셀을 넘어 갈때 안보이게 하는 옵션 */
white-space:nowrap;
height:320px;
margin:20px 0 0 20px;
border:1px solid #dcdcdc;
BACKGROUND-COLOR: white;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,.1);
}
h2.recent_ptit{
	color:#DEF690;
	font-weight:bold;
	height:32px;
	margin:0px;
	/*margin:10px 0 0 20px;*/

	padding-left:20px;

	line-height : 32px;
	vertical-align:middle;

	background: #71B74D; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71B74D', endColorstr='#189911'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#71B74D), to(#189911)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #71B74D,  #189911); /* for firefox 3.6+ */
	background: -ms-linear-gradient(top,  #71B74D,  #189911); /* for IE10 */

	display:block;

}
h2.recent_ntit{
	color:#CAE3F4;
	font-weight:bold;
	height:32px;
	margin:0px;
	/*margin:10px 0 0 20px;*/
	padding-left:20px;
	/*background-color: rgb(210,223,238); */
	background: #4A9EFF; /* for non-css3 browsers */

	line-height : 32px;
	vertical-align:middle;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A9EFF', endColorstr='#005ABA'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#4A9EFF), to(#005ABA)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #4A9EFF,  #005ABA); /* for firefox 3.6+ */
	background: -ms-linear-gradient(top,  #4A9EFF,  #005ABA); /* for IE10 */

	display:block;

}
h2.recent_btit{
	color:#f9f4ca;
	font-weight:bold;
	height:32px;
	margin:0px;
	/*margin:10px 0 0 20px;*/
	padding-left:20px;
	/*background-color: rgb(210,223,238); */
	background: #4A9EFF; /* for non-css3 browsers */

	line-height : 32px;
	vertical-align:middle;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc41b', endColorstr='#d7a000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffc41b), to(#d7a000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffc41b,  #d7a000); /* for firefox 3.6+ */
	background: -ms-linear-gradient(top,  #ffc41b,  #d7a000); /* for IE10 */

	display:block;

}
.n_text_list{
	margin-top:0px;
	padding-left:0px;
}

.n_text_list li{
	height:25px;
	border-bottom:1px solid #dcdcdc;
	padding-left:10px;
}
.n_text_list li a{
	height:25px;
	font-size:14px;
	text-align:center;
	line-height : 25px;
}
