body {
/*background-image: url(./images/newyear.jpg); background-size: 100% 50%; background-repeat: no-repeat;*/
background: #f0f9ff;*//* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0f9ff 0%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0f9ff 0%,#a1dbff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0f9ff 0%,#a1dbff 100%); /* IE10+ */
background: linear-gradient(top,  #f0f9ff 0%,#a1dbff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}

.top_menu {FONT-FAMILY:,u, Arial;font-size:8pt;color: #000000; line-height:13pt;}
.top_menu a:active { color: #000000; text-decoration: none; font-size:8pt;}
.top_menu a:link { color: #000000; text-decoration: none; font-size: 8pt; }
.top_menu a:visited { color: #000000; text-decoration: none; font-size: 8pt;}
.top_menu a:hover {color: #000000; font-size:8pt;text-decoration:underline;}